
@import './variables';
@import './mixin';

/*utilidades*/


.canvas {
    @include canvas
}

.page-divider {

    border-bottom: 1px solid #ddd;
    opacity: 1;

}
/*footer*/
.footer {
    @include flexNav;
    margin: 1em 0;

    h3 {
        @include lightFont;
    }

    i {
        font-size: 36px;
    }

    a {
        color: #000;
        text-decoration: none;
    }

}

/*fin utilidades*/

/*header*/
.logo {
    @include flexColumn;

    a {
        text-decoration: none;
        color: $primary-color;
    }

    h1 {
        @include lightFont;
        text-transform: uppercase;
        text-align: center;
        font-size: 45px;
        margin: auto;
    }

    p {
        @include normalFont;
        color: $paragraph-color;
        text-align: center;
        font-size: 16px;
        margin-top: .7em;
    }

}

.menu {
    display: none;
}

/* fin del header*/

/* contenedor */

/* index */

.contenedor {
    @include flexColumn;

    img {
        width: 100%;
        margin-top: .7em;
    }

}

/* about.html */

.avatar {
    @include flexCenter;
}

.contenedor-about {
    @include flexColumn;

    img {
        width: 100%;
    }

    h1,
    h2 {
        margin-top: 0.7em;
        @extend %placeHolder1;
    }

    p {
        @include lightFont;
        line-height: 1.8em;
        text-align: justify;
        font-size: 15px;
        margin: .7em 0;

    }
}

%placeHolder1 {
    @include lightFont;
    text-transform: uppercase;
    margin-bottom: 0;
}

.contenedor-info {
    @include flexColumn;

    h1,
    h2 {
        @extend %placeHolder1;
        margin: 0.5em 0;
    }

    p {
        @include lightFont;
        line-height: 1.8em;
        margin-bottom: 10px;
        line-height: 1.6em;
    }

    a {
        border-bottom: 1px dotted #222;
        text-decoration: none;
        color: #000;
    }

}

/*contact*/ 
.contact {
    padding: 50px 0;
    h1 {
        @include lightFont;
        font-size: 30px;
        color: $primary-color;
        letter-spacing: .06em;
    }
    h3 {
        @include lightFont;
        font-size: 1.2em;
        color: $accent-color;
        text-transform: uppercase;
    }
}
.txtb {
    margin: 24px 0; 

    input {
        width: 100%;
        padding: 12px 6px;
        margin: 6px 0 4px 0;
        border: 1px solid #ccc;
        background: #fafafa;
        color: #000;
}
textarea {
    width: 100%;
    resize: vertical;
    min-height: 100px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
}
}
.contact-form {
    @include lightFont;
    font-size: 15px;

 button {
    color: #fff;
    background-color: #272727;
    border: none;
    padding: 1em 2.5em;
    text-transform: uppercase;
    text-align: center;
}
button:hover {
    background-color: #1e3572;
    border: none;
}
}

.text-contact {
    @include lightFont;
    font-size: 15px;
    line-height: 1.8em;
    margin: 0 0 1em;
}



@include mobile {
    .canvas {
        margin: 10px auto;
        padding: 75px;
    }

    .contenedor-menu {
        @include flexNav;
        margin: 1.6em;
    }

    .logo {
        flex-wrap: wrap;
        margin-left: 3%;

        p {
            text-align: left;
        }

        h1 {
            text-align: left;
        }
    }

    .menu {
        display: flex;

        a {
            @include lightFont;
            text-transform: uppercase;
            display: inline-block;
            padding-left: 4em;
            text-decoration: none;
            color: rgb(31, 31, 31);
            font-size: 14px;
        }
    }

    .contenedor {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        padding: 0;
        max-width: 1200px;

        img {
            width: 560px;
            height: 582px;
            max-width: 100%;
            transition: 0.5s all ease;
        }
        img:hover {
            transform: scale(0.97);
            transition: 0.5s all ease;
        }
    }

    .imagen {
        padding: 0 20px 10px;
    }
  
    .contenedor-about img {
        width: 75%;
    }
    .page-divider {
        border-bottom: 1px solid #ddd;
        opacity: 1;
    }
    .footer {
        margin-top: 2em;
        margin-right: 1.2em;
        margin-bottom: auto;
        margin-left: auto;
    }
    
}
@include laptop {
    .contenedor-menu {
        margin: 2em 1.2em 0 1em;
    }
    
    .logo {
        margin-left: 10px;
    }
    .grid {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        margin: 0 20px;
    }

    .grid>div {
        width: 50%;
        padding: 10px;
    }

    .grid>div:first-child {
        margin-right: 50px;
    }
    .contenedor-about img {
        width: 100%;
    }
    .footer {
        margin: 2em 1.2em 0 1em;
        h3 {
            font-size: 16px;
            color: #575757;
            font-weight: 300;
        }

    }
    .page-divider {
        display: none;
    }
    
    .contact {
        padding: 50px 30px;
    }
}


